language: python

python:
    - "2.6"
    - "2.7"
    - "3.3"

env:
    - DJANGO=1.4
    - DJANGO=1.4.1
    - DJANGO=1.4.2
    - DJANGO=1.4.3
    - DJANGO=1.4.4
    - DJANGO=1.4.5
    - DJANGO=1.4.6
    - DJANGO=1.4.7
    - DJANGO=1.4.8
    - DJANGO=1.4.9
    - DJANGO=1.4.10
    - DJANGO=1.5
    - DJANGO=1.5.1
    - DJANGO=1.5.2
    - DJANGO=1.5.3
    - DJANGO=1.5.4
    - DJANGO=1.5.5
    - DJANGO=1.6
    - DJANGO=1.6.1

install:
    - pip install Django==$DJANGO
    - pip install -e .

script:
    - python run_tests.py

matrix:
    exclude:
        - python: "3.3"
            env: DJANGO=Django==1.4
        - python: "3.3"
            env: DJANGO=Django==1.4.1
        - python: "3.3"
            env: DJANGO=Django==1.4.2
        - python: "3.3"
            env: DJANGO=Django==1.4.3
        - python: "3.3"
            env: DJANGO=Django==1.4.4
        - python: "3.3"
            env: DJANGO=Django==1.4.5
        - python: "3.3"
            env: DJANGO=Django==1.4.6
        - python: "3.3"
            env: DJANGO=Django==1.4.7
        - python: "3.3"
            env: DJANGO=Django==1.4.8
        - python: "3.3"
            env: DJANGO=Django==1.4.9
        - python: "3.3"
            env: DJANGO=Django==1.4.10

notifications:
    email:
        recipients:
          - jon@faustman.org
        on_success: never
        on_failure: always