{% load djfrontend %}
{% block html %}
<!doctype html>
{% djfrontend_h5bp_html %}
{% endblock html %}
<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1.0{% endblock meta_viewport %}">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    {% endblock meta %}
    {% block head_css %}
    {% endblock head_css %}
    {% block head_js %}
        {% djfrontend_modernizr %}
    {% endblock head_js %}
</head>
<body id="{% block body_id %}{% endblock body_id %}" class="{% block body_class %}{% endblock body_class %}">
    {% block body_content %}
    <!--[if lte IE 8]>
        <div class="alert alert-warning ie-warning">
            <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        </div>
    <![endif]-->
    {% endblock body_content %}
    {% block body_js %}
        {% djfrontend_jquery %}
    {% endblock body_js %}
</body>
</html>
